

body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}  

.features-list-item h3 {
  font-size: 30px;
  line-height: 42px;
  color: #f7f4f1;
}







   
